body {
	overflow-x: hidden;
}
#navbar-my  {
	background-color: #1f76bd !important;
	height: 15%;
	/*border-bottom: 1px solid white;*/
	position: absolute;
}
.navbar{
	background-color: white ;
}
.form-control , .btn-success , .btn {
	background-color: #115c9b;
	color: white;
	border: 1px solid white;
}
.btn-success:hover {
	background-color:  #8195d8 ;
}
#links-color {
    color: white;
    font-size: 400%;
}
#links-color:hover {
    color: white ;
}
.navbtn {
	background-color: #1f76bd;
	color: white;
	padding: 5px;
	text-align: center;
}
.navbtn a{
	text-decoration: none;
	color: white
}
.navbtn:hover{
	border-bottom: 2px solid #fff;

}
.navbtn:hover .links-nav{
	color: white;	
}

#footer {
	position: absolute;
	background-color: #115c9b;
	border-top: 1px solid white;
	width: 100%;
	top: 250%;
	height: 50%;
}
.text {
	color: white;
	border-bottom: 1px solid white;
}
.small-text , .small-text>p>a {
	color: white;
	font-family: "Open sans", sans-serif;
}
.small-text>p{
	border-bottom: 1px solid white;
	text-decoration: none;
}
.small-text>p>a:hover{
	text-decoration: none;
}

.footer{
	margin-top: 30px;
	background-color: #1f76bd;
}
.footer1 {
	background-color: #1f76bd;
}
.footer-form {
	width: 90%;
}
.form-group {
	margin: 0;
}
.bottom-footer , .bottom-footer>div>a {
	color: white;
}
input {
	border:0px;
}
.main {
	position: absolute;
	top: 25%;
	left: -2%;
	width: 104%;
	height: 55%;
	text-align:center;
}
.missions {
	position: relative;
	top: 70%;

}
.mission1 {
	border:2px solid #1f76bd ;
	border-radius: 5px;
	cursor: pointer;
	background-color: #115c9b;
	color: white;
	text-align: center;
	background-color: #0076a3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMTE1YjliIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxMjkwZjgiLz48c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiMxMTViOWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -moz-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
    background-image: -webkit-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
    background-image: linear-gradient(160deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
    color: #fff;
}
.missions1>img{
	margin: 0;
	left: 0;
}

.col0 {
width: 3%;
}
